.DS_Store
__pycache__/*
.ipynb_checkpoints/*
Final_submission/*
udacity_RL_supplement/*
lab_udacity/*
Udacity_Machine_Learning_nanodegree_video/*
Quadcopter_project_LegacyCode/*
OpenAI-Gym-Taxi-v2/*

