[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jupyter = "*"
sklearn = "*"
matplotlib = "*"
pandas = "*"
scipy = "*"
seaborn = "*"
pygame = "*"


[dev-packages]

ipdb = "*"


[requires]

python_version = "3.6"
